.tes {
    color: red;
}

.fixed-width-column {
    width: 250px;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
}

.column-small {
    width: 80px;
}

.column-very-small {
    width: 50px;
}

.not-allow-button {
    pointer-events: none;
}

.custom-text-color:hover {
    color: #0d6efd; /* Warna teks yang diinginkan saat dihover */
}
